.custom-shape-divider-bottom-1657853362 {
  position: relative;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1657853362 svg {
  position: relative;
  display: block;
  width: calc(273% + 1.3px);
  height: 97px;
}

.custom-shape-divider-bottom-1657853362 .shape-fill {
  fill: #ffffff;
}

.gray {
  color: gray;
}
/* 미디어 쿼리 */

@media screen and (max-width: 992px) {
  #header-content-title {
    font-size: 7vw;
  }
  #header-content-wrapper {
    text-align: center;
  }
  .hidden {
    display: none;
  }
  #sticky {
    display: none;
  }
  #collaborate-background img {
    display: none;
  }
}

/* color */
.navy {
  background-color: #040d21;
  color: white;
}

/* header */
#header-wrapper {
  background-image: linear-gradient(
    to right bottom,
    rgba(5, 0, 0, 255),
    rgba(5, 13, 34, 255),
    rgba(5, 13, 34, 255),
    rgba(5, 13, 34, 255),
    rgba(5, 16, 34, 255)
  );
  color: white;
}
#header-content-title {
  font-size: 72px;
}
.who {
  font-size: 12px;
  color: rgba(255, 255, 255, 0.7);
}
.white {
  color: white;
}

/* main */
#enterprise-card {
  border: 1px solid lightgray;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
}

#main-inner-pages {
  margin-top: 130px;
}

#sticky {
  position: sticky;
  top: 0px;
}
.sticky_nav_white {
  background-color: #ffffff;
  z-index: 1;
}
.sticky_nav_white li a {
  /* color: black; */
}
.scroll-section {
  padding: 30px;
  border-radius: 8px;
}

#collaborate-background {
  /* width: 25vw;
  max-width: 1000px; */
  opacity: 0.4;
  position: relative;
  z-index: -1;
  top: -1800px;
  left: 110px;
}
