* {margin: 0; padding: 0; box-sizing: border-box; font-size: 15px;}
.buttonDefault { border : 1px solid #be5643; background-color: #e16259; box-shadow: 0 1px 2px rgb(15 15 15 / 10%); color: #fff; padding: 0.3rem 0.5rem; border-radius: 8px;}
.longBtn {padding: 0.5rem 2rem;}