* {margin: 0; padding: 0; box-sizing: border-box; font-size: 15px;}


.buttonDefault { border : 1px solid #be5643; background-color: #e16259; box-shadow: 0 1px 2px rgb(15 15 15 / 10%); color: #fff; padding: 0.3rem 0.5rem; border-radius: 8px;}
.longBtn {padding: 0.5rem 2rem;}
/* .container-fluid {background-color: aqua;} */

.menuBar {display: flex; justify-content: space-between; padding-top: 1rem;}

.menuBar_left {display: flex; justify-content: center; align-items: center;}
.menuBar_left  img {max-width: 100%; height: 100%;}
.menuBar_left > div {display: flex; align-items: center; padding: 10px;}
.menuBar_left svg {margin-left: 0.4rem;}


.menuBar_right {display: flex; align-items: center;}
.menuBar_right > div:nth-child(2) > svg {transform: rotate(90deg); color: rgba(0, 0, 0, .1);}
.menuBar_right > div { margin: 0 0.2rem;}
.menuBar_right > div:last-child {margin-left: .5rem;}
.header_nav {display: flex; justify-content: space-between; flex-direction: row-reverse; padding-top: 10rem;}
.header_nav > div:nth-child(2) {padding-left:3rem;}
.header_nav > div:nth-child(2) > div {margin-top: 1rem;}
.header_nav  h2 {font-size: 3.5rem; font-weight: 700; letter-spacing: -.1rem; white-space: nowrap;}
.header_nav h5 {font-size: 1.1rem; font-weight: 500; white-space: nowrap;}
.header_nav p {font-size: .85rem;}
.partners {display: flex;}
.partners > div {padding: 0 0.7rem 0 0;}
.header_nav > div:first-child > img {width: 100%; height: auto;}
.hamburger {display: none;}

.section {padding-top: 6rem; align-items: center; flex-direction: row-reverse;}
.section > div > img {width: 100%; height: auto; border: 1px solid rgba(0, 0, 0, .1); border-radius: 12px;}
.section h3 {font-weight: 700; font-size: 2rem;}
#lastSection {padding-bottom: 6rem; border-bottom: 1px solid rgba(0, 0, 0, .1);}


@media screen and (max-width : 1379px) {
    
}


/* 원래는 1020px */
@media screen and (max-width : 991px) {



    .menuBar_left > div:nth-child(2) { display: none; }
    .menuBar_left > div:nth-child(3) { display: none; }
    .menuBar_left > div:nth-child(4) { display: none; }
    .menuBar_left > div:nth-child(5) { display: none; }
    .menuBar_left > div:nth-child(6) { display: none; }

    .menuBar_right > div:nth-child(1) { display: none; }
    .menuBar_right > div:nth-child(2) { display: none; }
    .menuBar_right > div:nth-child(3) { display: none; }
    .menuBar_right > div:nth-child(4) { display: none; }

    .header_nav  {justify-content: center;}
    .header_nav > div:last-child {text-align: center;}
    .hamburger {display: flex;}

    .partners {justify-content: center;}
    .section h3 {font-weight: 700; font-size: 1.7rem;}
}