.menuBar {display: flex; justify-content: space-between; align-items: center; padding: 1rem; position: sticky; top: 0; background-color: #fff;}

.menuBar_left {display: flex; justify-content: center; align-items: center;}
.menuBar_left > div {display: flex; align-items: center; padding: 10px;}
.menuBar_left svg {margin-left: 0.4rem;}
.menuBar_right {display: flex; align-items: center;}
.menuBar_right > div:nth-child(2) > svg {transform: rotate(90deg); color: rgba(0, 0, 0, .1);}
.menuBar_right > div { margin: 0 0.2rem;}
.menuBar_right > div:nth-child(4) {padding-left: 1rem;}
.hamburger {display: none;}

.header_nav {display: flex; justify-content: space-between; flex-direction: row-reverse; padding-top: 10rem;}
.header_nav > div:nth-child(2) {padding-left:3rem;}
.header_nav > div:nth-child(2) > div {margin-top: 1rem;}
.header_nav h2 {font-size: 3rem; font-weight: 700; letter-spacing: -.1rem;}
.header_nav h5 {font-size: 1.1rem; font-weight: 500;}
.header_nav p {font-size: .85rem;}
.partners {display: flex; align-items: center;}

.section {padding: 4rem 0; align-items: center; flex-direction: row-reverse;}
.section > div > div {padding-bottom: .5rem;}
.section > div > img {border: 1px solid rgba(0, 0, 0, .1); border-radius: 12px;}
.section h3 {font-size: 2rem;font-weight: 700;}

.section_2 {padding: 4rem 0; border-bottom: 1px solid rgba(0, 0, 0, .1);}
.section_2 > div:first-child {display: flex; flex-direction: row-reverse; align-items: center;}
.section_2 > div:first-child > div:first-child {display: flex; justify-content: flex-end;}
.section_2 h3 {font-size: 2.5rem; font-weight: 700;}
.section_2 p {font-size: 1.1rem;}
.section_2 >div:last-child{display: flex; flex-direction: row-reverse; padding-top: 4rem;}
.section_2 > div:last-child img {border: 1px solid rgba(0, 0, 0, .1); border-radius: 12px;}
.rowScroll {display: flex; flex-direction: column; justify-content: flex-start; align-items: flex-start;}
.rowScroll > div {margin: 1rem; padding: .1rem; font-weight: 600; white-space: nowrap;}
.rowScroll > div:hover {background-color: rgba(0, 0, 0, 0.1); cursor: pointer;}
#exceptBorder {border-bottom: 1px solid rgba(0, 0, 0, .1);}

.section_3 {padding: 4rem 0; border-bottom: 1px solid rgba(0, 0, 0, .1);}
.section_3  img {border: none !important;}
.section_3 button {display: flex; align-items: center;}
.section_3 svg {margin-left: .2rem; transform: rotate(180deg);}

/* @media screen and (max-width : 1379px) {
    
} */
@media screen and (max-width : 991px) {
    * {font-size: 13.5px;}
    .menuBar_left > div:nth-child(2) { display: none; }
    .menuBar_left > div:nth-child(3) { display: none; }
    .menuBar_left > div:nth-child(4) { display: none; }
    .menuBar_left > div:nth-child(5) { display: none; }
    .menuBar_left > div:nth-child(6) { display: none; }

    .menuBar_right > div:nth-child(1) { display: none; }
    .menuBar_right > div:nth-child(2) { display: none; }
    .menuBar_right > div:nth-child(3) { display: none; }
    .menuBar_right > div:nth-child(4) { display: none; }

    .header_nav  {justify-content: center;}
    .header_nav > div:last-child {text-align: center;}
    .hamburger {display: flex;}

    .partners {justify-content: center;}
    .section_2 > div {justify-content: center !important;}
    .section_2 > div:first-child > div:first-child {justify-content: center;}
    .rowScroll {flex-direction: row; overflow: scroll; justify-content: flex-start}
}