@font-face {
    font-family: 'sanbox_B';
    src: url("/KB/sandbox/css/font/SB\ 어그로\ B.ttf");
    font-weight: 900;
}

* {margin: 0; padding: 0; box-sizing: border-box; list-style: none !important; font-size: 17px;  font-family: 'sanbox_B';}
/* body {background-color: aqua;} */
img {max-width: 100%; height: auto;}



